<form>
  <h2>Savings Goal: {{ goalsService.calculateTotalSavings() | currency:USD:true }}</h2>
  <div class="form-group">
    <label for="">Savings Goal</label>
    <input #goalName class="form-control" type="text" placeholder="What are you saving for?">
  </div>
  <div class="form-group">
    <label for="">How much will it cost?</label>
    <input #goalCost class="form-control" type="number" placeholder="Enter amount">
  </div>
  <div class="form-group">
    <label for="">When will you buy it?</label>
    <input #goalDate class="form-control" type="text" placeholder="Enter a date.">
  </div>
  <button class="btn btn-submit"
    (click)="goalsService.addNewGoal(goalName,goalCost,goalDate)">
    Add new goal</button>
</form>